<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAc42ODSbh3_sQvEjOv6q_w_yI8ddRNUhE</string>
	<key>GCM_SENDER_ID</key>
	<string>390692190960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseMicroProgrammer</string>
	<key>PROJECT_ID</key>
	<string>appwithcli-d67eb</string>
	<key>STORAGE_BUCKET</key>
	<string>appwithcli-d67eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390692190960:ios:f34ae8a2ae69f3f4b4a035</string>
</dict>
</plist>